#mine{
  max-width: 50%;
  max-height: 50%;
}

#name{
  text-align: center;
  font-family: cursive;
}

body{
  background-color: #0C090A;
  font-family: sans-serif;
  color: #E5E4E2;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  text-align: center;
  margin 3%;
}

.footer{
  text-align: center;
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
}

#about {
  font size: 28px;
  text-align: left;
}

.column {
  column-count:3;

}

.projectim{
  max-height: 100px;
  max-width: 200px;
}
